body{
  /* background-image: url(https://j.gifs.com/zK8Mrq@5MB.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%; */
  /* background-color: #030312; */
}

#gifPlayer{
  background-image: url(../img/Lambo.gif);
  background-position: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

#profileUpper{
  max-height: 100vh;
}

.profileCard{
  height: 25vh;
  background: linear-gradient(-165deg, #c6c6c6, #303030);

}

.profpic{
  width: 120px;
  height: 10vh;
  padding-right: 5%;
}

#welcomeText{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
}

#myTab{
  background-color: #303030;
}

@media screen and (max-width: 1450px;) {
  #patFit{
    font-size: 2px !important;
  }
}
