body{
  /* background-image: url(https://j.gifs.com/zK8Mrq@5MB.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%; */
  /* background-color: #030312; */
}

#gifPlayer{
  background-image: url(../img/Lambo.gif);
  background-position: 260px -100px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

#profileLower{
  height: 40vh;
}

#welcomeText{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
}
