<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <!-- <link rel="stylesheet" type="text/css" href="viterbi.css" /> -->
    <title>It's a Gas!</title>
    <!-- <link rel="shortcut icon" href="https://www.usc.edu/favicon.ico" /> -->
</head>

<body>
    <!-- <div class="cardinal">
        <img src="https://vsoeapp1.vsoe.usc.edu/images/USC-Bar-cardinal.gif">
    </div> -->

    
    <a href="https://github.com/phumphri/its-a-gas/blob/master/proposal/Proposal.md">Proposal</a>
</body>

</html>